# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
**/node_modules
**/package-lock.json
*.log
*.gz


# Coveralls
**/coverage

.env

# Ignore node_modules directory
node_modules/

# Ignore files with .pack extension
*.pack

# Ignore specific files
file1.txt
file2.png

